<p>Create an account, <em>if you dare</em>.</p>

<form method="post" action="/create">
  Name: <input type="text" name="post[name]"><br>
  Email: <input type="text" name="post[email]"><br>
  Password: <input type="password" name="post[password]"><br>
  <input type="submit" value="Submit">
</form>
